In [1]:
import sys

sys.path.insert(1, '../src/scraping')

from class_webscrapping import WebScraper
from address_to_coord import find_coord

In [2]:
#!pip install geopy

In [3]:
# help(scrap_description)

In [4]:
help(WebScraper)

Help on class WebScraper in module class_webscrapping:

class WebScraper(builtins.object)
 |  WebScraper(base_url)
 |
 |  Methods defined here:
 |
 |  __init__(self, base_url)
 |      Initialize self.  See help(type(self)) for accurate signature.
 |
 |  scrape_description_resto(self)
 |      Scrape la description d'un restaurant à partir de la page principale.
 |      Retourne un dataframe pandas contenant le nom du restaurant et sa description.
 |
 |  scrape_infos_avis(self, max_pages=None)
 |      Scrape les informations des avis sur plusieurs pages.
 |      Retourne un DataFrame avec les dates, notes et commentaires.
 |
 |  scrape_infos_resto(self, max_retries=3)
 |      Permet de relancer la fonction infos_resto tant qu'elle ne sort pas le résultat attendu
 |
 |  ----------------------------------------------------------------------
 |  Data descriptors defined here:
 |
 |  __dict__
 |      dictionary for instance variables
 |
 |  __weakref__
 |      list of weak references to the object

In [5]:
scrapper = WebScraper("https://www.tripadvisor.fr/Restaurant_Review-g187265-d20287839-Reviews-Agastache_Restaurant-Lyon_Rhone_Auvergne_Rhone_Alpes.html")

In [6]:
df_info = scrapper.scrape_infos_resto()
df_info.head()

Erreur détectée : All arrays must be of the same length. Nouvelle tentative (1/3)...

,Nom,Type_Cuisine,Fourchette_prix,Adresse,Note_moyenne
0,Agastache Restaurant,"Française, Moderne, Saine","25,00 €-42,00 €","134 Rue Duguesclin, 69006 Lyon France","5,0"

In [7]:
df_avis = scrapper.scrape_infos_avis(1)
df_avis.head()

        Date Notes                                       Commentaires
0  déc. 2024   5,0  Un très bon accueil, des plats à tomber par te...
1  nov. 2024   5,0  menu à 35€ comprenant entrée, plat, dessert 2 ...
2  nov. 2024   5,0  La carte est très courte et  les plats sont tr...
3  nov. 2024   5,0  Toujours autant de saveurs,de surprises…de déc...
4  nov. 2024   5,0  Une très belle adresse pour ravir les papilles...

#### Test Description

In [8]:
scrapper.scrape_description_resto()

TypeError: 'NoneType' object is not iterable

### Test géolacalisation

In [61]:
help(find_coord)
# coord_jojo = find_coord("L'affreux Jojo, Lyon") [45.7596456, 4.8470318]
coord_jojo = find_coord(df_info["Adresse"][0]) # [45.7596229, 4.8469705]
print(coord_jojo)

Help on function find_coord in module address_to_coord:

find_coord(address: str) -> list

[45.7596229, 4.8469705]

In [71]:
coord_test = find_coord("Restaurant Paul Bocuse, Lyon") # [45.7596456, 4.8470318]
print(coord_test)

[45.8156303, 4.8475323]