In [6]:
from restaurant_scraper import RestaurantScraper
from find_url import find_url_restaurant

# Scrapper les restaurants

In [7]:
test = find_url_restaurant("Gueuleton")

In [8]:
scraper = RestaurantScraper(test)

In [9]:
infos_resto = scraper.scrape_infos_resto()
infos_avis = scraper.scrape_infos_avis()
description_resto = scraper.scrape_description_resto()

Erreur détectée : Échec de la récupération du contenu, code de statut : 403. Nouvelle tentative (1/10)...
Erreur détectée : All arrays must be of the same length. Nouvelle tentative (2/10)...
Erreur détectée : All arrays must be of the same length. Nouvelle tentative (3/10)...
Erreur détectée : Échec de la récupération du contenu, code de statut : 403. Nouvelle tentative (4/10)...
Erreur détectée : All arrays must be of the same length. Nouvelle tentative (5/10)...

In [10]:
infos_avis.head()

        Date Notes                                       Commentaires
0  nov. 2024   3,0  . Viande cuisson mal exécuter...\n. Prix norma...
1  nov. 2024   5,0  Viandes d’excellente qualité, service parfait,...
2  nov. 2024   2,0  Sympa… mais beaucoup trop cher…c’est dommage c...
3  nov. 2024   1,0  Du VOL tout simplement. \n\nUn gueuleton c’est...
4  nov. 2024   3,0  Bonne soirée en globalité mais le manque de tr...

In [11]:
infos_resto.head()

,Nom,Type_Cuisine,Fourchette_prix,Adresse,Note_moyenne
0,Gueuleton - Lyon,Française,NA,"29 rue Moliere, 69006 Lyon France","3,5"

In [40]:
infos_resto.to_csv("8_marguerite_infos_resto.csv")
infos_avis.to_csv("8_marguerite_infos_avis.csv")
description_resto.to_csv("8_marguerite_description.csv")